<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="POS.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="POS.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <!--<startup useLegacyV2RuntimeActivationPolicy="true">
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/>
  </startup>-->
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <!--CONEXION A LA DB POS-->
  <connectionStrings>
    <add name="POSEntities1" connectionString="metadata=res://*/Models.POSDATA.csdl|res://*/Models.POSDATA.ssdl|res://*/Models.POSDATA.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=[ipserver];initial catalog=POS;user id=svc_sql_pos;password=a17472Ol0;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="POSEntities" connectionString="metadata=res://*/Models.POSDATA.csdl|res://*/Models.POSDATA.ssdl|res://*/Models.POSDATA.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=192.168.127.17;initial catalog=POS;persist security info=True;user id=svc_sql_pos;password=a17472Ol0;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v11.0" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <appSettings>
    <add key="SendKeys" value="SendInput" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="wsrecargasSoap" />
        <binding name="BasicHttpBinding_IService1" />
        <binding name="BasicHttpBinding_IService11" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://201.234.207.51/wsrecargasliris/wsrecargas.asmx"
        binding="basicHttpBinding" bindingConfiguration="wsrecargasSoap"
        contract="BroadNetWebService.wsrecargasSoap" name="wsrecargasSoap" />
      <endpoint address="http://srv-ax:9091/WSCliente/WSClientes.Service1.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IService1"
        contract="CreateCustomerLirisAxPOS.IService1" name="BasicHttpBinding_IService1" />
      <endpoint address="http://srv-ax.interno.liris.com:9091/WSCliente/WSClientes.Service1.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IService11"
        contract="CreateCustomerLirisProduccion.IService1" name="BasicHttpBinding_IService11" />
    </client>
  </system.serviceModel>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
  <userSettings>
    <POS.Properties.Settings>
      <setting name="ROOT_URL_GENERAL" serializeAs="String">
        <value>http://[ipserver]:8000/webrequests/</value>
      </setting>
      <setting name="ROOT_URL" serializeAs="String">
        <value>http://[ipserver]:8000/</value>
      </setting>
      <setting name="CONECTA_AX" serializeAs="String">
        <value>
        </value>
      </setting>
    </POS.Properties.Settings>
  </userSettings>
  <applicationSettings>
    <POS.Properties.Settings>
      <setting name="MENSAJE_CAJA" serializeAs="String">
        <value>
          AL OPRIMIR ACEPTAR:

          DECLARO QUE HE LEIDO Y ACEPTO LA TOTALIDAD DE LAS CONDICIONES DE USO DEL SISTEMA.

          DECLARO QUE ACEPTO RECIBIR LA SUMA DETALLADA EN LA PARTE SUPERIOR, CORRESPONDIENTE AL MONTO PARA SUELTOS QUE ME COMPROMETO A DEVOLVER  AL CIERRE Y CUADRE DE LA CAJA, SUMADO AL TOTAL DE INGRESOS DEL DÍA Y ASUMO PERSONALMENTE LA RESPONSABILIDAD POR FALTANTES DE DINERO BAJO MI CUSTODIA.
        </value>
      </setting>
    </POS.Properties.Settings>
  </applicationSettings>
</configuration>