<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="POS.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
    </sectionGroup>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="POS.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
    </sectionGroup>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/>
  </startup>

  <connectionStrings>
    <add name="POSEntities" connectionString="metadata=res://*/Models.POSDATA.csdl|res://*/Models.POSDATA.ssdl|res://*/Models.POSDATA.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=[ipserver];initial catalog=POS;persist security info=True;user id=svc_sql_pos;password=a17472Ol0;MultipleActiveResultSets=True;Connection Timeout=60;App=POS&quot;" providerName="System.Data.EntityClient"/>

    <add name="POSEntities1" connectionString="metadata=res://*/Models.POSDATA.csdl|res://*/Models.POSDATA.ssdl|res://*/Models.POSDATA.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=srv-pos;initial catalog=POS;persist security info=True;user id=app_pos;password=ppgV2M31ToUZPM8uFN6e8M81JdkwgPecgtDrS+ydsJ0=;MultipleActiveResultSets=True;Connection Timeout=60;App=POS&quot;" providerName="System.Data.EntityClient"/>
    <add name="POSEntities2" connectionString="metadata=res://*/Models.POSDATA.csdl|res://*/Models.POSDATA.ssdl|res://*/Models.POSDATA.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=srv-pos-alb;initial catalog=POS;persist security info=True;user id=app_pos;password=ppgV2M31ToUZPM8uFN6e8M81JdkwgPecgtDrS+ydsJ0=;MultipleActiveResultSets=True;Connection Timeout=60;App=POS&quot;" providerName="System.Data.EntityClient"/>
    <add name="POSEntities3" connectionString="metadata=res://*/Models.POSDATA.csdl|res://*/Models.POSDATA.ssdl|res://*/Models.POSDATA.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=srv-pos-ore;initial catalog=POS;persist security info=True;user id=app_pos;password=ppgV2M31ToUZPM8uFN6e8M81JdkwgPecgtDrS+ydsJ0=;MultipleActiveResultSets=True;Connection Timeout=60;App=POS&quot;" providerName="System.Data.EntityClient"/>
    <add name="POSEntities4" connectionString="metadata=res://*/Models.POSDATA.csdl|res://*/Models.POSDATA.ssdl|res://*/Models.POSDATA.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=srv-pos-gr;initial catalog=POS;persist security info=True;user id=app_pos;password=ppgV2M31ToUZPM8uFN6e8M81JdkwgPecgtDrS+ydsJ0=;MultipleActiveResultSets=True;Connection Timeout=60;App=POS&quot;" providerName="System.Data.EntityClient"/>
    <add name="POSEntities5" connectionString="metadata=res://*/Models.POSDATA.csdl|res://*/Models.POSDATA.ssdl|res://*/Models.POSDATA.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=srv-pos-ppg;initial catalog=POS;persist security info=True;user id=app_pos;password=ppgV2M31ToUZPM8uFN6e8M81JdkwgPecgtDrS+ydsJ0=;MultipleActiveResultSets=True;Connection Timeout=60;App=POS&quot;" providerName="System.Data.EntityClient"/>
    <add name="POSEntities6" connectionString="metadata=res://*/Models.POSDATA.csdl|res://*/Models.POSDATA.ssdl|res://*/Models.POSDATA.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=srv-pos-vc;initial catalog=POS;persist security info=True;user id=app_pos;password=ppgV2M31ToUZPM8uFN6e8M81JdkwgPecgtDrS+ydsJ0=;MultipleActiveResultSets=True;Connection Timeout=60;App=POS&quot;" providerName="System.Data.EntityClient"/>
    <add name="POSEntities7" connectionString="metadata=res://*/Models.POSDATA.csdl|res://*/Models.POSDATA.ssdl|res://*/Models.POSDATA.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=srv-pos-pia;initial catalog=POS;persist security info=True;user id=app_pos;password=ppgV2M31ToUZPM8uFN6e8M81JdkwgPecgtDrS+ydsJ0=;MultipleActiveResultSets=True;Connection Timeout=60;App=POS&quot;" providerName="System.Data.EntityClient"/>
    <add name="POSEntities8" connectionString="metadata=res://*/Models.POSDATA.csdl|res://*/Models.POSDATA.ssdl|res://*/Models.POSDATA.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=srv-pos-bc;initial catalog=POS;persist security info=True;user id=app_pos;password=ppgV2M31ToUZPM8uFN6e8M81JdkwgPecgtDrS+ydsJ0=;MultipleActiveResultSets=True;Connection Timeout=60;App=POS&quot;" providerName="System.Data.EntityClient"/>
    <add name="POSEntities9" connectionString="metadata=res://*/Models.POSDATA.csdl|res://*/Models.POSDATA.ssdl|res://*/Models.POSDATA.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=srv-pos;initial catalog=POS;persist security info=True;user id=app_pos;password=ppgV2M31ToUZPM8uFN6e8M81JdkwgPecgtDrS+ydsJ0=;MultipleActiveResultSets=True;Connection Timeout=60;App=POS&quot;" providerName="System.Data.EntityClient"/>
    <add name="POSEntities10" connectionString="metadata=res://*/Models.POSDATA.csdl|res://*/Models.POSDATA.ssdl|res://*/Models.POSDATA.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=srv-pos-garcia;initial catalog=POS;persist security info=True;user id=app_pos;password=ppgV2M31ToUZPM8uFN6e8M81JdkwgPecgtDrS+ydsJ0=;MultipleActiveResultSets=True;Connection Timeout=60;App=POS&quot;" providerName="System.Data.EntityClient"/>
    <add name="CorrBanEntities" connectionString="metadata=res://*/Models.CorrBanDATA.csdl|res://*/Models.CorrBanDATA.ssdl|res://*/Models.CorrBanDATA.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=SRV-QA-AX;initial catalog=CorrBan;user id=svc_sql_pos;password=a17472Ol0;MultipleActiveResultSets=True;App=POS&quot;" providerName="System.Data.EntityClient"/>
  </connectionStrings>

  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v11.0"/>
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer"/>
      <provider invariantName="System.Data.SQLite.EF6" type="System.Data.SQLite.EF6.SQLiteProviderServices, System.Data.SQLite.EF6"/>
    </providers>
  </entityFramework>

  <appSettings>
    <add key="SendKeys" value="SendInput"/>
    <add key="ClientSettingsProvider.ServiceUri" value=""/>
    <add key="LogInfo" value="S"/>
    <add key="LogError" value="S"/>
    <add key="Auditar" value="S"/>
    <add key="ArchivoLog" value="C:\Log\POS\POS_log_|dd-|MM-|yyyy_|HH.txt"/>
  </appSettings>

  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="wsrecargasSoap"/>
        <binding name="BasicHttpBinding_IService1"/>
        <binding name="BasicHttpBinding_IService11"/>
        <binding name="BasicHttpBinding_IService12"/>
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://201.234.207.51/wsrecargasliris/wsrecargas.asmx" binding="basicHttpBinding" bindingConfiguration="wsrecargasSoap" contract="BroadNetWebService.wsrecargasSoap" name="wsrecargasSoap"/>
      <endpoint address="http://srv-ax:9091/WSCliente/WSClientes.Service1.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IService1" contract="CreateCustomerLirisAxPOS.IService1" name="BasicHttpBinding_IService1"/>
      <endpoint address="http://srv-ax.interno.liris.com:9091/WSCliente/WSClientes.Service1.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IService11" contract="CreateCustomerLirisProduccion.IService1" name="BasicHttpBinding_IService11"/>
      <endpoint address="http://localhost/WSIntegracion/Service1.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IService12" contract="WSIntegracion.IService1" name="BasicHttpBinding_IService12"/>
    </client>
  </system.serviceModel>

  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri=""/>
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400"/>
      </providers>
    </roleManager>
  </system.web>

  <userSettings>
    <POS.Properties.Settings>
      <setting name="CONECTA_AX" serializeAs="String">
        <value>Data Source=[ipserver];Initial Catalog=DynamicsAx1;Persist Security Info=True;User ID=app_pos;Password=L1r1$PO$@pp892126565V01;App=POS</value>
      </setting>
      <setting name="SMTP_SERVER" serializeAs="String">
        <value>mail.liris.com.ec</value>
      </setting>
      <setting name="SMTP_PORT" serializeAs="String">
        <value>587</value>
      </setting>
      <setting name="SMTP_USESSL" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="MAILERROR_ALIAS" serializeAs="String">
        <value>POS</value>
      </setting>
      <setting name="MAILERROR_MOTIVO" serializeAs="String">
        <value>POS ERROR</value>
      </setting>
      <setting name="MAILERROR_FROM" serializeAs="String">
        <value>aplicacion@liris.com.ec</value>
      </setting>
      <setting name="EF_LOG" serializeAs="String">
        <value>Log\POSInserts\|yyyy-|MM-|dd.txt</value>
      </setting>
      <setting name="EFLOG_PATH" serializeAs="String">
        <value>C:\</value>
      </setting>
      <setting name="RETENCION_PATHLOGO" serializeAs="String">
        <value>\\SRV-POS\Retenciones\Blanco.png</value>
      </setting>
      <setting name="SMTP_USER" serializeAs="String">
        <value>dbmail</value>
      </setting>
      <setting name="SMTP_PASS" serializeAs="String">
        <value>@KeW(r_k=X7(</value>
      </setting>
      <setting name="MAILERROR_DESTINO" serializeAs="String">
        <value>devteam@liris.com.ec</value>
      </setting>
      <setting name="MAILERROR_CC" serializeAs="String">
        <value>devteam@liris.com.ec</value>
      </setting>
      <setting name="CONEXION_PATH" serializeAs="String">
        <value>C:\Log\POSConexiones.txt</value>
      </setting>
      <setting name="CONEXION_PATH_REMOTO" serializeAs="String">
        <value>\\srvatila\Shares\Compartido\Conexiones\POSConexiones.txt</value>
      </setting>
      <setting name="PATH_IMG" serializeAs="String">
        <value>C:\Log\POSImg</value>
      </setting>
      <setting name="ROOT_URL" serializeAs="String">
        <value>http://[ipserver]:8000/</value>
      </setting>
      <setting name="ROOT_URL_GENERAL" serializeAs="String">
        <value>http://[ipserver]:8000/webrequests/</value>
      </setting>
      <setting name="CONECTA_MKT" serializeAs="String">
        <value>Data Source=[ipserver];Initial Catalog=Marketing;Persist Security Info=True;User ID=app_pos;Password=L1r1$PO$@pp892126565V01;</value>
      </setting>
      <setting name="TituloApp" serializeAs="String">
        <value>POS Dynamics AX 2025</value>
      </setting>
    </POS.Properties.Settings>
  </userSettings>

  <applicationSettings>
    <POS.Properties.Settings>
      <setting name="MENSAJE_CAJA" serializeAs="String">
        <value>
          AL OPRIMIR ACEPTAR:

          DECLARO QUE HE LEIDO Y ACEPTO LA TOTALIDAD DE LAS CONDICIONES DE USO DEL SISTEMA.

          DECLARO QUE ACEPTO RECIBIR LA SUMA DETALLADA EN LA PARTE SUPERIOR, CORRESPONDIENTE AL MONTO PARA SUELTOS QUE ME COMPROMETO A DEVOLVER  AL CIERRE Y CUADRE DE LA CAJA, SUMADO AL TOTAL DE INGRESOS DEL DÍA Y ASUMO PERSONALMENTE LA RESPONSABILIDAD POR FALTANTES DE DINERO BAJO MI CUSTODIA.
        </value>
      </setting>
    </POS.Properties.Settings>
  </applicationSettings>

  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System" publicKeyToken="b77a5c561934e089" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>

  <system.data>
    <DbProviderFactories>
      <remove invariant="System.Data.SQLite.EF6"/>
      <add name="SQLite Data Provider (Entity Framework 6)" invariant="System.Data.SQLite.EF6" description=".NET Framework Data Provider for SQLite (Entity Framework 6)" type="System.Data.SQLite.EF6.SQLiteProviderFactory, System.Data.SQLite.EF6"/>
      <remove invariant="System.Data.SQLite"/>
      <add name="SQLite Data Provider" invariant="System.Data.SQLite" description=".NET Framework Data Provider for SQLite" type="System.Data.SQLite.SQLiteFactory, System.Data.SQLite"/>
    </DbProviderFactories>
  </system.data>
</configuration>