<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="cef.redist.x64" version="94.4.5" targetFramework="net45" />
  <package id="cef.redist.x86" version="94.4.5" targetFramework="net45" />
  <package id="CefSharp.Common" version="94.4.50" targetFramework="net45" />
  <package id="EntityFramework" version="6.0.2" targetFramework="net45" />
  <package id="Guna.UI2.WinForms" version="2.0.4.7" targetFramework="net45" />
  <package id="IKVM" version="8.1.5717.0" targetFramework="net45" />
  <package id="MetroFramework" version="1.2.0.3" targetFramework="net45" />
  <package id="MetroFramework.Design" version="1.2.0.3" targetFramework="net45" />
  <package id="MetroFramework.Fonts" version="1.2.0.3" targetFramework="net45" />
  <package id="MetroFramework.RunTime" version="1.2.0.3" targetFramework="net45" />
  <package id="Microsoft.Web.WebView2" version="1.0.3800.47" targetFramework="net45" />
  <package id="Newtonsoft.Json" version="6.0.1" targetFramework="net45" />
  <package id="System.Data.SQLite" version="1.0.105.2" targetFramework="net45" />
  <package id="System.Data.SQLite.Core" version="1.0.105.2" targetFramework="net45" />
  <package id="System.Data.SQLite.EF6" version="1.0.105.2" targetFramework="net45" />
  <package id="System.Data.SQLite.Linq" version="1.0.105.2" targetFramework="net45" />
  <package id="WinSCP" version="5.9.5" targetFramework="net45" />
  <package id="ZXing.Net" version="0.16.9" targetFramework="net45" />
</packages>